.backgrondnapbar{
    width: 100%;
    background-color: #1a1a1a;
}

.bacgroundfootter{
    width: 100%;
    background-color: #1a1a1a;
}


.backgrondmain{
    width: 100%;
    background-color: #1a1a1a;
    padding-bottom: 5%;
}